<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<h1 style="color: rgba(38, 167, 26, 0.692); font: 8em sans-serif;">hello,, this is help page !</h1>

<%- include('../partials/footer') %>